.text {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
  line-height: 3;
}

.btn {
  background-color: #068f33;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn:focus {
  height: 50px;
  width: 100px;
}

/* gallery  */
/* .gallery1 {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin: 100px auto;
  gap: 50px;
}
.box1 {
  height: 200px;
  width: 200px;
  background: url(../img/portfolio/portfolio-1.jpg) no-repeat center
    center/cover;
  margin-bottom: 10px;
} */

.header-parent {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 100px;
  align-items: center;
  flex-wrap: wrap;
}
.image-head,
.text-content {
  /* width: 50%; */
  height: 500px;
}
.text-content {
  width: 500px;
  line-height: 3;
  /* margin-left: 30px; */
}
.image-head {
  width: 700px;
  background: url(../img/portfolio/portfolio-1.jpg) no-repeat center
    center/cover;
}
.solar-head {
  margin-top: 200px;
}
